name: Publish image to Docker Hub
on:
  workflow_dispatch:

jobs:
  publish_image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Docker image latest
        run: |
          docker build -t laitco/tailscale-healthcheck:latest .

      - name: Push Docker image latest
        run: |
          docker push laitco/tailscale-healthcheck:latest

      - name: Build Docker image 1.1
        run: |
          docker build -t laitco/tailscale-healthcheck:1.0 .

      - name: Push Docker image 1.1
        run: |
          docker push laitco/tailscale-healthcheck:1.0